# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
vendor/
go/pkg/

# IDE
.vscode/
.idea/

# Build artifacts
scanner-amd64
scanner-arm64

# Release directory
release/

*.pcapng
*.jpeg
.idea/
.DS_Store
.vscode/
main
attachment/